<footer class="footer-area section-gap">
    <div class="container">        
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Satu inspirasi untuk HMTC yang kuat dan bernilai tinggi &copy;<script>document.write(new Date().getFullYear());</script> by Ateng and Team with <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 footer-social">
                <a href="https://www.facebook.com/HMTCFTIf"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/hmtc_its"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/user/bluepresshmtc"><i class="fa fa-youtube"></i></a>                
            </div>
        </div>
    </div>
</footer>